.join-container {
    padding-left: 10%;
    padding-right: 10%;
}

.join-container .title-container {
    font-size: xx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}