.header-container {
    display: flex;
    position: relative;
    width: 100%;
}
.header-container .logo-container{
    height: 100%;
    width: 70%;
    padding-left: 5rem;
    padding-top: 2rem;
}

.header-container .logo{
    height: 60px;
    width: 220px;
    background-image: url("./logo.jpeg");
}

.header-container .header-menu-container {
    width: 30%;
    padding-top: 3%;
    padding-right: 1%;
}
.header-container .header-menu{
    float: left;
}
