.home-container {
    height: 72vh;
    width: 100%;
}

.slogan-container {
    text-align: center;
}

.carousel-container {
    height: 75vh;
    width: 100vw;
    background-image: url("WechatIMG23150.jpeg");
    background-size: 100% 100%;
}